<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <title>Pizza App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
	  <link rel="shortcut icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
	  <link rel="icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/allorders.css">
    <script src="https://use.fontawesome.com/dff300a0f8.js" defer></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="/allorders.js" defer></script>
    
  </head>  
  
  <body id="menu-body">
    
    <nav id="main-nav">
      <a href="/" id="pizza-button-a">P</a>
      <div id="title-nav-div">Orders</div>
<!--       <a href="/login" id="log-in-button-a">Log in</a> -->
    </nav>
    
    <main>
      
      <section id="menu-section">
          <div id="orders-wrapper-div"></div>
      </section>
      
      <section id="control-section">
        <a href="/" id="back-button-a">Back</a>
      </section>
        
    </main>
    
  </body>
  
</html>