<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <title>Pizza App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
	  <link rel="shortcut icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
	  <link rel="icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <script src="https://use.fontawesome.com/dff300a0f8.js" defer></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="/index.js" defer></script>
    
  </head>  
  
  <body>
    
    <nav id="main-nav">
      <a href="/login" id="log-in-button-a">Log in</a>
    </nav>
    
    <main>
      
      <section id="main-section">
        <div id="title-div">Pizza</div>
        <div id="subtitle-div">Our chefs are always happy to please you with the delicious flavors of Italy, no matter where you are and what you are doing now</div>
        <a href="/menu" id="order-button-div">Order</a>
      </section>
        
    </main>
    
  </body>
  
</html>

