<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <title>Pizza App / Log in</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
	  <link rel="shortcut icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
	  <link rel="icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
    
  </head>  
  
  <body>
    
    <nav>
    </nav>
    
    <main>
      
      <section>
        <form class="login-form" action="/login" method="post">
          <div>Username:</div>
          <input type="text" placeholder="" class="input-form" name="username" minlength="5" maxlength="30" required=""><br>
          <div>Password:</div>
          <input type="password" placeholder="" class="input-form" name="password" minlength="5" maxlength="30" required=""><br>
          <input type="submit" class="submit-input-form" value="Log in">
          <a href="/signup" id="sign-up-button-a">Sign up</a>
        </form>
      </section>
        
    </main>
    
  </body>
  
</html>

