<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <title>Pizza App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
	  <link rel="shortcut icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
	  <link rel="icon" href="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpizza_icon.ico?v=1591695408332" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/menu.css">
    <script src="https://use.fontawesome.com/dff300a0f8.js" defer></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="/menu.js" defer></script>
    
  </head>  
  
  <body id="menu-body">
    
    <nav id="main-nav">
      <a href="/" id="pizza-button-a">P</a>
      <div id="title-nav-div">Menu</div>
<!--       <a href="/login" id="log-in-button-a">Log in</a> -->
    </nav>
    
    <main>
      
      <section id="menu-section">
        <div>
          <div id="pizzas-wrapper-div">
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">20$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fmargarita_pizza_image.png?v=1591796316924"/>
              </div>
              <div>Margherita</div>
              <p class="description-p">The most interesting and famous dish in Italian cuisine. It is popular not only in Italy, but all over the world. Homemade pizza Margarita consists of three ingredients that symbolize the Italian flag: basil green, tomato red, and cheese white.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="total-price-div"></div>
                <div class="add-button-div">Add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">20$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fcarbonara_pizza_image.png?v=1591796314778"/>
              </div>
              <div>Carbonara</div>
              <p class="description-p">The key toppings for this Carbonara Pizza are earthy mushrooms sautéed with a generous portion of garlic, melty cheese (two types), black pepper, thick, crispy bacon, and most important of all, sunny, runny eggs. If you've never experienced a pizza with an egg...</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">22$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fmushroom_pizza_image.png?v=1591796525373"/>
              </div>
              <div>Mushroom</div>
              <p class="description-p">This mushroom pizza recipe has a thin and crispy crust, right amount of mushrooms and a combination of spices which turns into a delicious Italian pizza. It is even better No store-bought tomato sauce can compare to a homemade pizza tomato sauce.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">22$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fpepperoni_pizza_image.png?v=1591796319184"/>
              </div>
              <div>Pepperoni</div>
              <p class="description-p">Pepperoni is an American variety of salami, made from a cured mixture of pork and beef seasoned with paprika or other chili pepper. Pepperoni is characteristically soft and slightly smoky. Thinly sliced pepperoni is a popular pizza topping in American pizzerias.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">25$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Ffour_cheeses_pizza_image.png?v=1591796310796"/>
              </div>
              <div>Quattro Formaggi</div>
              <p class="description-p">Quattro formaggi of course means four cheese, and traditionally those four cheeses include mozzarella, Gorgonzola, Parmesan, and a fresh creamy cheese such as Robiola or Stracchino.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">25$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fbarbeque_pizza_image.png?v=1591796321966"/>
              </div>
              <div>Barbecue</div>
              <p class="description-p">Place pizza crust on a medium baking sheet. Spread the crust with barbeque sauce. Top with chicken, cilantro, pepperoncini peppers, onion, and cheese. Bake in the preheated oven for 15 minutes, or until cheese is melted and bubbly.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">30$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fsupreme_pizza_image.png?v=1591796318848"/>
              </div>
              <div>Supreme</div>
              <p class="description-p">Traditionally topped with pepperoni, sausage, bell peppers, onions, and olives, the supreme pizza combines some of the most popular pizza toppings into one delicious slice. Some more extreme supremes include pepperoni, ham, pork sausage, and beef, plus peppers, onions, and mushrooms.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
            <div class="pizza-wrapper-div">
              <div class="window"></div>
              <div class="price-div">30$</div>
              <div class="image-wrapper">
                <img class="image-img" src="https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Fdiablo_pizza_image.png?v=1591796312034"/>
              </div>
              <div>Diablo</div>
              <p class="description-p">Pizza diavola means the devils pizza and is quite a spicy little devil and one of my favourite pizzas. If you like spicy hot and chilli flavours you will enjoy this pizza recipe: mozzarella, passata, spicy salami, fresh chillies, virgin olive oil.</p>
              <div class="add-wrapper-div">
                <div class="minus-button-div">-</div>
                <div class="count-div">1</div>
                <div class="plus-button-div">+</div>
                <div class="add-button-div">add</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <a id="cart-a">
        <i id="cart-i" class="fa fa-shopping-cart"></i>
      </a>
        
    </main>
    
  </body>
  
</html>