* {
  margin: 0;
  padding: 0;
  
  text-align: center;
  font-size: 10px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  outline: 0;
}

*:hover {
  cursor: default;
}

a:hover {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
    
  background: url(https://cdn.glitch.com/672d97f9-93aa-4751-99e9-65b1de06a2f2%2Ftable_image.jpg?v=1591698150381);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
  font-family: "Raleway", sans-serif;
}

#main-nav {
  position: relative;
  background-color: hsla(0, 50%, 50%, 0);
  
  text-align: right;
}

#log-in-button-a {
  display: inline-block;
  margin: 20px 20px 0 0;
  padding: 5px 10px;
  background-color: hsla(45, 50%, 100%, 0.99);
  opacity: 0;
  z-index: -1;
  
  font-size: 18px;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase ;
}

#user-wrapper-div {
  display: inline-block;
  margin: 20px 20px 0 0;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 48px;
}

#user-orders-button-a {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  z-index: -1;
  background-color: hsla(0, 100%, 100%, 0.99);
  margin-bottom: 2px;
  opacity: 0;
  
  color: black;
}

#log-out-button-a {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  z-index: -1;
  background-color: hsla(0, 100%, 100%, 0.99);
  opacity: 0;
  
  color: black;
}

#orders-button-a {
  display: inline-block;
  position: relative;
  top: -10px;
  right: -5px;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: hsla(0, 100%, 100%, 0);
  border: 2px solid hsla(30, 100%, 100%, 0.9);
  
  color: hsla(30, 100%, 100%, 0.9);
}

main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

section {
  margin: auto;
  background-color: hsla(30, 100%, 50%, 0)
}

#title-div {
  font-size: 48px;
  color: hsl(30, 100%, 55%);
}

#subtitle-div {
  padding: 10px 20vw;
  
  font-size: 18px;
  color: hsl(30, 100%, 99%);
  text-transform: uppercase ;
}

#order-button-div {
  display: inline-block;
  margin: 5px 0 20px 0;
  padding: 5px 10px;
  background-color: hsla(30, 100%, 55%, 0.9);
  
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase ;
}0